<%= render "shared/banner" %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
     <br>
      <h1 class="mb-5 text-color"><strong>Discover all our pets </strong></h1>
    </div>
    <% @pets.each do |pet| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-img-container">
            <img src="<%= pet.photo_url %>" class="card-img-top" alt="Pet Image">
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= pet.name %></h4>
            <p class="card-text text-truncate"><%= pet.description %></p>
            <button class="btn custom-btn"><%= link_to "Book", pet_path(pet), id: "color" %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
