<div class="container">
  <div class="card-product" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(<%=@pet.photo_url%>)">
  <img src="<%=@pet.photo_url%>" alt="">
  <div class="card-product-infos m-3">
    <h1 class="border-bottom"><%=@pet.name.upcase%></h1>
    <h2><%=@pet.race%></h2>
    <h2><%=@pet.species%></h2>
    <h3><%=@pet.habitat%></h3>
    <h4><%=@pet.age%> ans </h4>
    <p><%=@pet.description%></p>
  </div>
  </div>

  <div class="mt-3 mb-3">
    <% if @pet.reviews.present? %>
      <h2>Reviews</h2>
      <p><i class="fa-solid fa-star"></i> <strong><%= @average_rating %></strong></p>
      <% @pet.reviews.each do |review| %>
        <p><i class="fa-solid fa-wand-sparkles"></i> <%=review.rating %>
        <p><%= review.description %></p>
      <% end %>
    <% else%>
      <h4>No reviews yet.</h4>
    <% end %>
  </div>



  <%= simple_form_for [@pet, @booking] do |f| %>
    <div class="d-flex align-item-center ">
      <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" }, class: "d-none" } %>

      <%= f.input :end_date , as: :string, input_html: { data: { controller: "datepicker" }, class: "d-none"  } %>
    </div>
    <i class="fa-solid fa-plus"></i>
    <%= f.submit class: "btn btn-ghost" %>
  <% end %>

 <br>

 <div class="d-flex">
      <i class="fa-solid fa-rotate-left"></i>
      <%= button_to 'Back to the List', pets_path, class: "btn btn-ghost mb-2", method: 'get' %>

  </div>
   </div>

</div>
