<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th.bing.com/th/id/OIG.jeFCdOBGs6wvehtkjom5?pid=ImgGn);">
  <div class="container px-4">
    <h1>Choose the animal of your dreams!</h1>
    <br>
    <div class="filtre d-flex align-items-start" style="color: white;">
      <div data-controller="toggle" class="mt-5">
        <button data-action="click->toggle#fire" class="btn btn-outline-warning mb-4"><i class="fa-solid fa-wand-magic-sparkles"></i>Filtre</button>
        <div data-toggle-target="togglableElement" class="d-none">
          <%= form_tag pets_path, method: :get do %>
            <div class="dropdown mb-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="speciesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Sélectionner une espèce
              </button>
              <ul class="dropdown-menu" aria-labelledby="speciesDropdown">
                <% Pet.distinct.pluck(:species).each do |species| %>
                  <li>
                    <label class="dropdown-item">
                      <%= check_box_tag 'species[]', species %>
                      <%= species %>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="d-flex">
              <div class="dropdown mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="habitatDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Sélectionner un habitat
                </button>
                <ul class="dropdown-menu" aria-labelledby="habitatDropdown">
                  <% Pet.distinct.pluck(:habitat).each do |habitat| %>
                    <li>
                      <label class="dropdown-item">
                        <%= check_box_tag 'habitat[]', habitat %>
                        <%= habitat %>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <br>
            <br>
            <%= submit_tag "Search", class: "btn btn-flat" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
