<div class="container ">

  <h1 class="text-center" style="color: #a98467;">Hello, <%= @user.first_name %> <%= @user.last_name %> !</h1>
  <% if @user.pets.any? %>
    <div class="d-flex justify-content-center">
    <ul class="list-group m-4 p-4">
    <h2 style="color: #a98467;">All your pets</h2>
    <ul class="list-group m-4 d-flex flex-row">
      <% @user.pets.each do |pet| %>
        <li class="list-group-item d-flex justify-content-start align-items-center p-4 ;" style ="margin: 30px; border: solid 0.3px grey;"
            data-controller="trash-animation">
          <%= link_to pet_path(pet), style: "text-decoration: none;" do %>
          <div class="shadow-lg rounded"><%= image_tag pet.photo_url, alt: "Pet Image", style: "width: 150px; height: 150px;" %></div>
          <% end %>
          <ul class="ul-pet-dashboard" style="width: auto; margin: 15px; flex-wrap: wrap;" >
            <li><%= pet.name.capitalize%></li>
            <li style="width: 100px"><%="#{pet.age} an(s)"%></li>
            <li><%= pet.species %></li>
          </ul>
          <%= link_to edit_pet_path(pet) do %>
            <i class="fa-solid fa-pen me-2"></i>
          <% end %>
          <%= link_to pet_path(pet), method: :delete, data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do %>
            <span class = "d-flex justify-content-end" ><i data-action="mouseover->trash-animation#trashHover mouseout->trash-animation#trashRemove" class="fa-solid fa-trash" style="color: #9197a1;"></i></span>
          <% end %>
        </li>
      <% end %>
     </ul>
    </div>
  <% end %>
 <div class="d-flex justify-content-center">
    <a id="pet_button" class="d-flex justify-content-center custom-btn" href="/pets/new.19"
    style="width: 200px; padding: 5px; border-radius: 2px;">Add Pet</a>
  </div>

<h2 class="mt-4 mb-3" style="color: #a98467;">Your bookings</h2>
<div class="row">
  <% @bookings.each do |booking| %>
    <div class="card mb-3 me-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">You have a booking on <%= booking.pet.name %></h5>

        <p style="color: #a98467;"><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date %></p>
        <p style="color: #a98467;"><i class="fa-solid fa-calendar-days"></i> <%= booking.end_date %></p>
        <p style="color: #a98467;"><i class="fa-solid fa-bars-progress"></i> <%= booking.status.capitalize %></p>
        <% if booking.status == "Accepted" %>
          <span class="badge custom-btn rounded-pill"><%= link_to "Add a review", new_booking_review_path(booking),style: "text-decoration: none; color: white;"%></span>
        <% end %>

      </div>
    </div>
  <% end %>
</div>


<h2 class="mb-4 mt-3" style="color: #a98467;">Your pets's booking</h2>

<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">
          <%= pet.name.capitalize %>
        </div>
        <div class="card-body">
          <% pet.bookings.each do |booking| %>
            <p style="color: #a98467;"><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date %></p>
            <p style="color: #a98467;"><i class="fa-solid fa-calendar-days"></i> <%= booking.end_date %></p>
            <p style="color: #a98467;"><i class="fa-solid fa-bars-progress"></i> <%= booking.status.capitalize %></p>
          <% if booking.status == "pending" %>
              <div class="d-flex justify-content-around">

                <%= button_to accept_booking_path(booking), method: :patch, class: 'accept-button' do %>
                  <i class="fa-solid fa-check" style="color: #000000;"></i>
                <% end %>
                <%= button_to decline_booking_path(booking), method: :patch, class: 'decline-button' do %>
                  <i class="fa-solid fa-x" style="color: #000000;"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
 </div>
</div>
