<div class="container "></div>

  <h1 class="text-center" style="color: #a98467;">Hello, <%= @user.first_name %> <%= @user.last_name %>!</h1>

  <% if @user.pets.any? %>
    <h2 style="color: #a98467;">Here are all your pets:</h2>
    <ul class="list-group m-4 p-2">
      <% @user.pets.each do |pet| %>
        <li class="list-group-item d-flex justify-content-between align-items-center p-4">
          <%= link_to pet_path(pet), style: "text-decoration: none;" do %>
          <div class="shadow-lg p-3 bg-body-tertiary rounded"><%= image_tag pet.photo_url, alt: "Pet Image", style: "width: 200px; height: 100px;" %></div>
          <% end %>
          <%= link_to pet_path(pet), method: :delete, data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' } do %>
            <span class="badge custom-btn rounded-pill" style="padding: 10px;">Delete</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
 <div class="d-flex justify-content-center ">
    <a id="pet_button" class="d-flex justify-content-center custom-btn" href="/pets/new.19"
    style="width: 200px; padding: 5px; border-radius: 2px;">Add Pet</a>
  </div>

<h2 class="mt-4 mb-3" style="color: #a98467;">Here are your bookings :</h2>
<div class="row">
  <% @bookings.each do |booking| %>
    <div class="card mb-3 me-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">You have a booking on <%= booking.pet.name %></h5>

        <p style="color: #a98467;"><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date %></p>
        <p style="color: #a98467;"><i class="fa-solid fa-calendar-days"></i> <%= booking.end_date %></p>
        <p style="color: #a98467;"><i class="fa-solid fa-bars-progress"></i> <%= booking.status.capitalize %></p>
        <% if booking.status == "Accepted" %>
          <span class="badge custom-btn rounded-pill"><%= link_to "Add a review", new_booking_review_path(booking),style: "text-decoration: none; color: white;"%></span>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<h2 class="mb-4 mt-3" style="color: #a98467;">Here are the bookings on your pets:</h2>

<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">
          <%= pet.name %>
        </div>
        <div class="card-body">
          <% pet.bookings.each do |booking| %>
            <p>
              <%= booking.start_date %>
              <%= booking.end_date %>
              <%= booking.status %>
            </p>
            <% if booking.status == "pending" %>
              <div class="d-flex justify-content-between">

                <%= button_to accept_booking_path(booking), method: :patch, class: 'btn btn-success rounded-circle' do %>
                  <i class="fa-solid fa-check"></i>
                <% end %>
                <%= button_to decline_booking_path(booking), method: :patch, class: 'btn btn-danger rounded-circle' do %>
                  <i class="fa-solid fa-x"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
